.Editbcimaga body{

    background-color: #F9F6F6;
}
.contcreerbci{
    background-color: rgb(255, 255, 255);
    width:900px;



}


.cmpt{
    background-color: rgb(255, 255, 255);
    width: 850px;
    height: 80vh;
   padding-left:30px;
   overflow: auto;

   
}
body{

    background-color: #F9F6F6;
}
.cmpt button{
   
    width: 160px;
height: 40px;

border-radius: 90px ;
font-size: 22px;
font-weight: 500;
line-height: 26.82px;
color:#041F5A;

margin-bottom: 60px;
margin-top: -20px;
}
.btngroup{
    display: flex;
   margin-bottom: 80px;
    margin-top: 0px;
    margin-left: 80px;
   
}
.partiedemande{
    flex-direction: column;
    display: flex;
justify-content: space-between;

}
.demandeinput{
    background-color: #eaeaea;
    width:300px;
    height:40px;
    border-radius:10px ;
    margin-top: 15px;
    font-size: 12px;
    padding-left: 10px;
 
 
    border: 1px solid #9a9898;




}
.demandelab{
    font-size: 15px;
    font-weight: 500;



}

.qteaccordee{

  background-color: aqua;



}