.contaddpro{

    background-color:white ;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 100px;
    padding: 30px;
}
body{

    background-color: F9F6F6;
    height: 100%;
}

.cmpt{
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 80vh;
   padding-left:30px;
   overflow: auto;

   
}
.ajouterproduit h3{
    font-weight: bold;
text-align: center;
margin:50px;


}
.cmpt button{
   
    width: 160px;
height: 40px;

border-radius: 90px ;
font-size: 20px;
font-weight: 500;
line-height: 26.802px;
color: #041F5A;
margin-left: 20px;
margin-bottom: 60px;
margin-top: -20px;


}

.datagrid-container {
    height: 300px;
    width: 100%;
  }
  .grid {
    height: 66vh;
  }
  .hdr{
    background-color: #C7D0D0 ;
    color: #FFFFFF;
    text-align: center;
   
}
.MuiDataGrid-columnHeader {

    background-color:#C7D0D0;
    font-size: 24px;
    font-weight:500;
}
 
