.contcreerbci{

margin-top: 200px;
margin-left: 100px;
background-color:rgb(255, 255, 255);
border-radius: 20px;
height: 1000px;



}
.partiebouton{
    background-color:rgb(255, 255, 255);
    padding-bottom: 10px;
    border-radius: 20px;



}
.titrebci{
    font-size:40px;
    font-weight: bold;



}
.partiesec{
  
    

}
.partie1,.partie2,.partieform,.partieproduit{
    display: flex;
    margin: 50px;
}
.partieproduit{
    margin-top:0px;
}
.partieform{
 
    display: flex;
    width:900px;
    flex-direction:row;
    
}
.partiedemandeur,.partierestant,.partiedirection{
  
    margin-left:50px;

}
.inputdirection,.inputrestant,.inputdemandeur{
    background-color: #eaeaea;
    width:210px;
    height:40px;
    border-radius:10px ;
    margin-top: 15px;
    font-size: 12px;
    padding-left: 10px;

}
.labeldirection,.labeldemandeur,.labelrestant{
    font-size: 15px;

}
.icnbci{
    margin-top:7px;
    margin-right:5px
}

.cmpt{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 80vh;
   padding-left:30px;
   overflow: auto;

   
}
body{

    background-color: #F9F6F6;
}
.cmpt button{
   
    width: 180px;
height: 40px;

border-radius: 90px ;
font-size: 22px;
font-weight: 500;
line-height: 26.82px;
color:#041F5A;
margin-left: 20px;
margin-bottom: 60px;
margin-top: -20px;
}


.ajouter ,.annuler,.confirmer{
    background-color: #01C7BE    ;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    width:200px;
    font-size: 23px;
}
.ajouter{
    margin-left: 730px;
    width:150px;
    height: 43px;
    font-size: 22px;
   
    
}


.annuler{
    background-color: #ffffff;
    color:#01C7BE ;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.annuler:hover{
    color:white
    
}
.annuler,.confirmer{
   margin-left: 100px;

}
.btngroup{
    display: flex;
   margin-bottom: 80px;
    margin-top: 80px;
    margin-left: 80px;
   
}
.hdr{
    background-color: #C7D0D0 ;
    color: #FFFFFF;
    text-align: center;
   
}
.quantity-input{
 


 width:320px;
 padding: 100px;
}
.partieproduit h3{
    margin-top: 20px;
    


}













.cmpt{
    background-color: #FFFFFF;
    width: 100%;
    height: 110vh;
   padding-left: 10%;
   overflow: auto;
   
}
.cmpt button .MuiDataGrid-menuIconButton{
    margin-top: 120px;
    width: 260px;
height: 70px;

border-radius: 90px ;
font-size: 22px;
font-weight: 500;
line-height: 26.82px;
}

.grid{
    background-color: #FFFFFF;
    width: 89%;   
    margin-top: 50px;
border: none ;
}

.grid button{
    width: 40px;
    height: 40px;

}
.grid .MuiDataGrid-footerContainer{
    height: 10px;
   
 
}
.grid img{
    margin-left: 10px;
    margin-top: 5%;
}
.grid img:hover{
    cursor: pointer;
}
.hdr{
    background-color: #01C7BE;
    color: #FFFFFF;
    text-align: center;
   
}
/*.css-t89xny-MuiDataGrid-columnHeaderTitle{
  margin-left: 5vh;
}
.css-1tu88dm-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainerContent {
  margin-left: -5vh;
}*/

.MuiDataGrid-row.Mui-odd {
    background-color: #EFECEC; 
    
  }
  
  .MuiDataGrid-row:nth-child(even){
    background-color: #EFECEC;
   
  }
 .MuiDataGrid-columnHeaders{
    background-color: #01C7BE;
  }
.MuiDataGrid-container--top .MuiDataGrid-filler{
    background: #01C7BE;

  }