.MinNavBar{
position: absolute;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 95%;
height: 90px;
gap: 0px;
margin-left: 83px;
border-radius: 0px 0px 60px 60px;
border: 1px solid #01C7BE;
background-color: #FFFFFF;
box-shadow: 0px 4px 4px 0px #00000040;


}
#srch{
    background-image: url(../images/Search.svg);
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 220px;
    padding-left: 25px;
    width: 323px;
    height: 40px;
    border-radius: 90px ;
    box-shadow: 0px 4px 20px 0px #00000040;

}
img{
   
    border-radius: 100%;
}
.logo span {
    font-size: 22px;
    font-weight: 700;
    line-height: 26.82px;
    text-align: left;
    
    }
    .logo img{
        width: 126px;
    height: 71px;
    ;
    
    }